<div>
  You have been sent this link to register as an admin for the wiki-med site.  If you have been sent this link in error please contact us at example@example.com.
</div>
<%= link_to "Sign up", new_registration_path(:user) %>
