<h1>EDIT BILLING</h1>
<%= render 'form' %>
<div><%= link_to "Back", root_path, class:"btn btn-sm btn-outline-danger"%></div>
<div><%= link_to "Delete", bill_path(bill), method: :delete, class:"btn btn-sm btn-outline-danger"%></div>
                