<div class="container border border-secondary rounded-lg mt-3">
  <h1 class="text-center">
      Enter Billing Info Below
  </h1>
</div>
<div class="ml-2">
  <%= render 'form' %>
</div>
<div><%= link_to "Back", root_path, class:"btn btn-sm btn-outline-danger"%></div>
