
<main role="main">
  <div class="container border border-secondary rounded-lg mt-3">
    <h1 class="text-center">
        Procedures
    </h1>
  </div>

<h4 class="text-center p-2">Search</h4>

<%= @procedures.each do |f|%>
    <div>

	    <%=f.name%> <%=f.description%> 

    </div>
<%end%>

</div>
